

												.cart-list {
																height: 400px;
												}

												.input-group {
																width: 100px;
												}

												.deleteBtn {
																border-radius: 50%;
												}

                                                .cart{
                                                    width: 50%;
                                                }

                                                .container-custom{
                                                    margin-top: 200px;
                                                }
